{% extends 'base.html'%}

{% block footer %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $(document).ready(function(){
        $("#formImg").validate({
            rules: {
                title: {
                    required: true
                },
                image: {
                    required: true
                }
            },
            errorClass: "is-invalid"
        });
    });
</script>
{% endblock %}

{% block body %}
<div class="container" style="margin-top: 1rem; margin-bottom: 1rem;">
    {% if records.errors is not empty %}
    <div class="row justify-content-md-center">
        <ul>
            {% for error in records.errors %}
            <li style="color:red">{{error}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if images is not empty %}
    <hr>
        {% for image in images %}
        <div class="row justify-content-md-center">
                 <div class="hovereffect">
                     <img src="../../../{{image.path}}" class="img-fluid" alt="{{image.title}}" data-toggle="tooltip" data-placement="top" title="{{image.title}}">
                 </div>
        </div><br>
    <div class="row justify-content-md-center">
        <form action="/image/delete" method="post">
            <input type="hidden" name="id" value="{{image.id}}">
            <input type="hidden" name="title" value="{{image.title}}">
            <input type="submit" class="btn btn-danger" name="submit" value="Delete"  onclick="return confirm('Are you sure?');">
        </form>
    </div><hr>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}