{% extends 'base.html'%}

{% block title %} Home{% endblock %}

{% block body %}
<br>
<div class="container" style="font-size: large;">
    <div class="row justify-content-md-center">
        <div class="col col-md-8" style="text-align:center;">
            <p style="line-height: 3rem;">
                Hello! I'm Lukas713, IT enthusiast and Web Application Developer wanna be.<br>
                I started programming with C++ and now I'm learning PHP, MVC architecture of course.<br>
                You can check my programming CV at <a href="https://github.com/Lukas713">Lukas713</a><br>
                Dont forget to check my newest projects at <a href="/post/index">Post</a><br>
                You can contact me on lukas.scharmitzer@gmail.com
            </p><hr>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-md-7" style="text-align:center;">
            <a href="https://github.com/Lukas713"><i class="fab fa-2x fa-github"></i></a>
            <a href="mailto:lukas.scharmitzer@gmail.com"><i class="fas fa-2x fa-envelope"></i></a>
        </div>
    </div>
</div>

{% endblock %}