{% extends 'base.html'%}

{% block title %}Profile{% endblock %}

{% block footer %}
<script>
    $(document).ready(function(){
        $("#formImg").validate({
            rules: {
                title: {
                    required: true
                },
                image: {
                    required: true
                }
            },
            errorClass: "is-invalid"
        });
    });
</script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img src="../../../img/{{currentUser.profile}}"  title="profile" alt="profile" style="width: 150px; height: 150px" class="img-thumbnail">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="connectedServices-tab2" data-toggle="tab" href="#connectedServices2" role="tab" aria-controls="connectedServices2" aria-selected="false">Upload image</a>
                                </li>
                            </ul>
                            <div class="tab-content ml-1" id="myTabContent">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Email adress</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{currentUser.email}} <hr>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Full Name</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{currentUser.firstname}} {{currentUser.lastname}}<hr>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Street</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            radit preko ajaxa<hr>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Mobile number</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                             radit preko ajaxa<hr>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Album</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            <a href="/profile/album"><i class="fas fa-2x fa-images"></i></a><hr>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                                <div class="tab-pane fade" id="connectedServices2" role="tabpanel" aria-labelledby="ConnectedServices-tab2">
                                    <div class="row justify-content-md-center">
                                        <div class="col col-md-8">
                                            <form method="post" enctype="multipart/form-data" action="/profile/insert" id="formImg">
                                                <div class="form-group">
                                                    <label for="title">Image title</label>
                                                    <input type="text" class="form-control" id="title"  name="title">
                                                </div>
                                                <div class="form-group">
                                                    <label for="image">Upload image</label>
                                                    <input type="file" class="form-control-file" id="image" name="image">
                                                </div>
                                                <input type="submit" class="btn btn-primary" value="Submit" name="submit">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}