{% extends 'base.html'%}

{% block title %}Profile{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../../../js/intl-tel-input-15.0.0/build/css/intlTelInput.min.css">
    <style>
        .iti-flag {
            background-image: url("../../../js/intl-tel-input-15.0.0/build/img/flags.png");
        }
    </style>
{% endblock %}

{% block footer %}
<script src="../../../js/intl-tel-input-15.0.0/build/js/intlTelInput.min.js"></script>

<script>
    var input = document.querySelector("#phone");
    var iti = window.intlTelInput(input);
    window.intlTelInputGlobals.loadUtils("../../../js/intl-tel-input-15.0.0/build/js/utils.js");
    $(document).ready(function(){

        //start with validating image input
        $("#formImg").validate({
            rules: {
                title: {
                    required: true
                },
                image: {
                    required: true
                }
            },
            errorClass: "is-invalid"
        });
        //start with updating info function
        updateBasicInfo(iti);
    });

    /**
     * function that sens inputs on server, updates profile and display status message
     */
    function updateBasicInfo(object){
        $("#update").click(function(){  //when user clicks update button
            var x = document.getElementById("messageDiv");  //get div where message resides
            if(x.children.length > 0){  //if there is element
                var t = document.getElementById("message");
                x.removeChild(t);    //remove it
            }
            var field = new Array();    //take input fields and process it with ajax
            field[0] = $("#firstName").val();
            field[1] = $("#lastName").val();
            field[2] = iti.getNumber(intlTelInputUtils.numberFormat.E164);
            field[3] = $("#update").val();
            console.log(field[2]);
            $.ajax({
                type: "POST",
                url: "update",
                data: "firstName="+field[0]+"&lastName="+field[1]+"&phone="+field[2]+"&update="+field[3],
                success: function (serverReturn) {
                    var p = document.createElement("p");    //create paragraph that wil hold message
                    p.setAttribute("id", "message");    //set id
                    if(serverReturn === 'good job'){    //if server did good job
                        var text = document.createTextNode("Successful operation");
                        p.setAttribute("class", "text-success");    //append successful message
                        p.appendChild(text);
                        x.appendChild(p);
                    }else {
                        var text = document.createTextNode("Failed operation");
                        p.setAttribute("class", "text-danger"); //append warning message
                        p.appendChild(text);
                        x.appendChild(p);
                    }
                    $("#message").delay(1000);  //message fade's out
                    $("#message").fadeOut(500);
                }
            });
        });
    }
</script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img src="../../../img/{{currentUser.profile}}"  title="profile" alt="profile" style="width: 150px; height: 150px" class="img-thumbnail">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="connectedServices-tab2" data-toggle="tab" href="#connectedServices2" role="tab" aria-controls="connectedServices2" aria-selected="false">Upload image</a>
                                </li>
                            </ul>
                            <div class="tab-content ml-1" id="myTabContent">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Email adress</label>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            {{currentUser.email}} <hr>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;" for="firstName">First name</label>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <input type="text" class="form-control input" id="firstName" value="{{currentUser.firstName}}">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;" for="lastName" class="label">Last name</label>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <input type="text" class="form-control input" id="lastName" value="{{currentUser.lastName}}">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;" for="phone" class="label">Mobile number</label>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <!--<input type="text" class="form-control input" id="phone" value="{{currentUser.phoneNumber}}">-->
                                            <input type="tel" class="form-control input" id="phone" value="{{currentUser.phoneNumber}}">
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 2rem;">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <button type="button" class="btn btn-outline-info" id="update" value="on" >Update</button>
                                        </div>
                                        <div class="col-md-8 col-6" id="messageDiv">

                                        </div>
                                    </div><hr>
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Album</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            <a href="/profile/album"><i class="fas fa-2x fa-images"></i></a>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                                <div class="tab-pane fade" id="connectedServices2" role="tabpanel" aria-labelledby="ConnectedServices-tab2">
                                    <div class="row justify-content-md-center">
                                        <div class="col col-md-8">
                                            <form method="post" enctype="multipart/form-data" action="/profile/insert" id="formImg">
                                                <div class="form-group">
                                                    <label for="title">Image title</label>
                                                    <input type="text" class="form-control" id="title"  name="title">
                                                </div>
                                                <div class="form-group">
                                                    <label for="image">Upload image</label>
                                                    <input type="file" class="form-control-file" id="image" name="image">
                                                </div>
                                                <input type="submit" class="btn btn-primary" value="Submit" name="submit">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}